01. Output

In [1]:
print("Hello, World!")

Hello, World!

In [ ]:
# number does not need to be in quotes
print(2025)

2025

In [5]:
# Automatically prints the last line of the code
"First line of code"
"Second line of code"

'Second line of code'

02. Comments

In [ ]:
# This is used to add a memo to the code
print("Python")
# print("Python in fun")
# "Ctrl + /" to comment out a line

Python

03. Arithmetic Operators

In [7]:
print(1+2, 4-1, 2*3, 16/3)

3 3 6 5.333333333333333

In [18]:
15/3

5.0

In [19]:
16//3
# get the integer part of the division

5

In [20]:
16%3

1

In [14]:
# Exponentiation
4**2

16

In [21]:
# Square root
16**0.5

4.0

In [22]:
"py"+"thon"

'python'

In [ ]:
"py"+"3"
# w/o quotation, type error & cannot concatenate string and integer

'py3'

04. Data Types

In [29]:
type(1), type(1.0), type("Python"), type('3')

(int, float, str, str)

In [30]:
type(3), type(3.0), type("3")

(int, float, str)

In [32]:
type(True), type(False)

(bool, bool)

In [34]:
True+True+False+False
# true is 1, false is 0

2

05. Variables

In [35]:
americano=4500

In [ ]:
print(americano)    # variable assignment
print('americano')  # string literal

4500
americano

In [37]:
latte=5000

In [38]:
print(americano+latte)

9500

In [ ]:
result=americano+latte  # assigning the result to a variable
print(result)

9500

In [40]:
americano = 4500
americano = americano - 1000
print(americano)

3500

In [41]:
# multiple assignment
a, b, c = 10, 20, 30
print(a+b+c)

60

06. Type Conversion

In [42]:
a=2
b=0.17
a=a+b
type(a)

float

In [43]:
box= 2.17
print("문자열:", str(box))
print("정수형:", int(box))

문자열: 2.17
정수형: 2

In [45]:
box="3.14"
box=float(box)+10
box

13.14

07. Comparison Operators

In [50]:
print(10>5)
print(10<5)
print(10>=5)
print(10<=5)

True
False
True
False

In [51]:
10==10

True

In [52]:
10!=5

True

In [53]:
a=10
b=10
a==b

True

In [54]:
print(a>=b)
print(a<b)

True
False

In [55]:
a="BigData"
b="BigData"
c="Data"

print(a==b)
print(a==c)

True
False

08. Conditionals

In [56]:
if True:
    print("This is true")

This is true

In [58]:
if False:
    print("This is false")

In [59]:
score = 10
if score >= 10:
    print("Equal to or greater than 10")

Equal to or greater than 10

In [60]:
score = 10
if score == 10:
    print("Equal to 10")

Equal to 10

In [62]:
print("True and False:", True and False)
print("True and True:", True and True)
print("True or False:", True or False)
print("True or True:", True or True)

True and False: False
True and True: True
True or False: True
True or True: True

In [ ]:
# else
if score<10 and score >=5:
    print("score is equal to or greater than 5 and less than 10")
else:
    print("score is less than 5 or greater than or equal to 10")

score is less than 5 or greater than or equal to 10

In [ ]:
# elif
score = 7

if score>=10:
    print("A")
elif score<10 and score>=5:
    print("B")
else:
    print("C")

B

In [67]:
score = 2

if score>=10:
    print("A")
elif score<10 and score>=5:
    print("B")
elif score<5 and score>=2:
    print("C")
else:
    print("D")

C

09. Lists

In [68]:
listbox = [4,2,6,10,8]
print(listbox)

[4, 2, 6, 10, 8]

In [69]:
# index starting from 0
print(listbox[0])  # first element

4

In [70]:
print(type(listbox))

<class 'list'>

In [74]:
listbox=["Big", "Data", "Analysis"]
print(listbox)

['Big', 'Data', 'Analysis']

In [75]:
# append() adds an element to the end of the list
listbox.append("Certification")
print(listbox)

['Big', 'Data', 'Analysis', 'Certification']

In [ ]:
# sort() sorts the list in ascending order
listbox = [4,2,6,10,8]
listbox_sorted = sorted(listbox)
print(listbox_sorted)

[2, 4, 6, 8, 10]

In [77]:
sorted(listbox, reverse=True)  # sorts in descending order

[10, 8, 6, 4, 2]

In [ ]:
# sort the string in alphabetical order
listbox=["Big", "Data", "Analysis"]
listbox_sorted = sorted(listbox)
print(listbox_sorted)

['Analysis', 'Big', 'Data']

10. Dictionaires

In [79]:
dictbox = {'name': 'Dog', 'level': 5}
dictbox

{'name': 'Dog', 'level': 5}

In [80]:
type(dictbox)

dict

In [81]:
print(dictbox['name'])  # access value by key
print(dictbox['level'])

Dog
5

In [82]:
dictbox['name'] = 'Cat'  # update value
dictbox['name']

'Cat'

In [83]:
dictbox.keys()

dict_keys(['name', 'level'])

In [84]:
dictbox.values()

dict_values(['Cat', 5])

In [85]:
dictbox.items()

dict_items([('name', 'Cat'), ('level', 5)])

In [87]:
list(dictbox.values())

['Cat', 5]

In [89]:
a = "Kuoka"
b = "Apple"
c = "name"

dictbox= {'nickname': a, c:b}
dictbox

{'nickname': 'Kuoka', 'name': 'Apple'}

In [91]:
listbox1 = ["Italian", "French", "Japanese"]
listbox2 = [4.8, 4.5, 4.7]

dictbox = {"cuisine": listbox1, "rating": listbox2}
print(dictbox)

{'cuisine': ['Italian', 'French', 'Japanese'], 'rating': [4.8, 4.5, 4.7]}

11. Indexing and Slicing

In [ ]:
# Indexing
listbox = [2,4,6,8,10]
print(listbox[0]) # first element
print(listbox[3]) # fourth element
print(listbox[-1]) # last element

2
8
10

In [95]:
# Slicing
print(listbox[0:3])  # first three elements

[2, 4, 6]

In [96]:
print(listbox[1:3])

[4, 6]

In [98]:
print(listbox[3:])
print(listbox[:3])

[8, 10]
[2, 4, 6]

In [101]:
print(listbox[::2]) # every second element
# list[start:end:step]

[2, 6, 10]

In [102]:
listbox[1:3] = [10, 20]  # replace elements at index 1 and 2
print(listbox)

[2, 10, 20, 8, 10]