In [40]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score

In [14]:
#1. 데이터 불러오기
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.shape, test.shape

((10000, 21), (10000, 20))

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  object
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Score              10000 non-null  int64
 9   Credit_Mix                10000 non-null  object
 10  Payment_Behaviour         10000 non-null  object
 11  Age                       10000 non-null  float64
 12  Annual_Income             10000 non-null  float64
 13  Num_Bank_Accounts         10000 non-null  float64
 14  Num_Credit_Card           10000 non-null  float64
 15  Interest_Rate             10000 non-null  float64
 16  Num_of_Loan               10000 non-null  float64
 17  Monthly_Inhand_Salary     10000 non-null  float64
 18  Changed_Credit_Limit      10000 non-null  float64
 19  Outstanding_Debt          10000 non-null  float64
 20  Total_EMI_per_month       10000 non-null  float64
dtypes: float64(17), int64(1), object(3)
memory usage: 1.6+ MB

In [17]:
y_train = train.iloc[:, 8]
x_train = train.iloc[:, [0,1,2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18,19,20]]

x_test = test

In [ ]:
#2. 결측치 처리
x_train.isnull().sum()
x_test.isnull().sum()

Delay_from_due_date         0
Num_of_Delayed_Payment      0
Num_Credit_Inquiries        0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Amount_invested_monthly     0
Monthly_Balance             0
Credit_Mix                  0
Payment_Behaviour           0
Age                         0
Annual_Income               0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Monthly_Inhand_Salary       0
Changed_Credit_Limit        0
Outstanding_Debt            0
Total_EMI_per_month         0
dtype: int64

In [26]:
cols = list(x_train.columns[x_train.dtypes == object])

In [ ]:
x_full = pd.concat([x_train, x_test], axis=0)
x_full = pd.get_dummies(x_full, dtype=int, drop_first = True)

x_train = x_full.iloc[:10000, :] 
x_test = x_full.iloc[10000:,:]

In [34]:
#3. 스케일링
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [37]:
#4. 검증 데이터 나누기
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.3, random_state=0)

In [39]:
#5. 모델
rfc = RandomForestClassifier()
rfc_model = rfc.fit(x_train, y_train)
y_val_pred = rfc_model.predict(x_val)

In [42]:
#6. 평가하기
accuracy = accuracy_score(y_val, y_val_pred)
accuracy

0.711

In [44]:
f1score = f1_score(y_val, y_val_pred, average='macro')
f1score

0.6918596483838598

In [45]:
pred = rfc_model.predict(x_test)

submit = pd.DataFrame({"pred": pred})
submit.to_csv('result3.csv', index=False)

In [46]:
pd.read_csv('result3.csv')

      pred
0        3
1        1
2        1
3        2
4        1
...    ...
9995     2
9996     2
9997     1
9998     1
9999     2

[10000 rows x 1 columns]