### 03. 중고차 가격 예측

In [19]:
import pandas as pd

In [20]:
#1.
train = pd.read_csv('car_train.csv')
test = pd.read_csv('car_test.csv')

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6732 entries, 0 to 6731
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             6732 non-null   int64
 1   Levy              6732 non-null   object
 2   Manufacturer      6732 non-null   object
 3   Model             6732 non-null   object
 4   Prod. year        6732 non-null   int64
 5   Category          6732 non-null   object
 6   Leather interior  6732 non-null   object
 7   Fuel type         6732 non-null   object
 8   Engine volume     6732 non-null   object
 9   Mileage           6732 non-null   object
 10  Cylinders         6732 non-null   float64
 11  Gear box type     6732 non-null   object
 12  Drive wheels      6732 non-null   object
 13  Doors             6732 non-null   object
 14  Wheel             6732 non-null   object
 15  Color             6732 non-null   object
 16  Airbags           6732 non-null   int64
dtypes: float64(1), int64(3), object(13)
memory usage: 894.2+ KB

In [22]:
x_train = train.iloc[:, train.columns != 'Price']
y_train = train['Price']
x_test = test

x_train.shape, test.shape

((6732, 16), (5772, 16))

In [23]:
x_full = pd.concat([x_train, x_test])
x_full.shape

(12504, 16)

In [25]:
cols = list(x_full.columns[x_full.dtypes == object])
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for col in cols:
    x_full[col] = le.fit_transform(x_full[col])

x_train = x_full.iloc[:6732,:]
x_test = x_full.iloc[6732:,:]

In [26]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6732 entries, 0 to 6731
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Levy              6732 non-null   int64
 1   Manufacturer      6732 non-null   int64
 2   Model             6732 non-null   int64
 3   Prod. year        6732 non-null   int64
 4   Category          6732 non-null   int64
 5   Leather interior  6732 non-null   int64
 6   Fuel type         6732 non-null   int64
 7   Engine volume     6732 non-null   int64
 8   Mileage           6732 non-null   int64
 9   Cylinders         6732 non-null   float64
 10  Gear box type     6732 non-null   int64
 11  Drive wheels      6732 non-null   int64
 12  Doors             6732 non-null   int64
 13  Wheel             6732 non-null   int64
 14  Color             6732 non-null   int64
 15  Airbags           6732 non-null   int64
dtypes: float64(1), int64(15)
memory usage: 894.1 KB

In [27]:
x_train.head()

,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,370,31,951,2015,4,1,2,59,1207,6.0,0,0,1,0,1,12
1,383,52,939,2013,4,1,1,32,326,4.0,0,1,1,0,14,4
2,129,35,592,2016,4,1,5,59,5352,6.0,0,2,1,0,1,0
3,332,15,88,2012,9,1,5,20,5250,4.0,2,1,0,0,1,6
4,382,8,840,2014,4,1,1,32,1916,4.0,0,1,1,0,14,4

In [28]:
x_test

,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,411,52,180,2016,4,1,5,24,4771,4.0,0,1,1,0,1,4
1,373,56,324,2018,9,1,2,42,3333,4.0,0,1,1,0,1,12
2,424,56,891,2010,3,0,2,28,994,4.0,0,1,1,0,11,0
3,0,56,324,2018,9,1,2,40,1113,6.0,2,0,1,0,2,12
4,426,22,995,2015,4,1,1,32,5416,4.0,0,1,1,0,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5767,470,20,395,2015,4,1,5,40,5056,4.0,0,0,1,0,3,12
5768,488,56,377,2019,9,1,5,28,4236,4.0,0,1,1,0,1,12
5769,0,5,740,2000,1,1,5,42,2541,6.0,1,2,0,1,12,2
5770,426,22,1022,2015,9,1,5,32,2879,4.0,0,1,1,0,14,4
5771,0,16,1091,2002,2,0,1,41,313,4.0,1,2,0,0,14,2

In [29]:
#3. scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
#4.
from sklearn.model_selection import train_test_split
x_tr, x_val, y_tr, y_val = train_test_split(x_train, y_train, test_size=0.3, random_state=0)

In [31]:
#5.
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr_model = rfr.fit(x_tr, y_tr)
y_pred = rfr_model.predict(x_val)

In [34]:
from sklearn.metrics import root_mean_squared_log_error
rmsle = root_mean_squared_log_error(y_val, y_pred)
rmsle

1.1428739839889506

In [36]:
pred = rfr_model.predict(x_test)
submit = pd.DataFrame({'pred': pred})
submit.to_csv('result6.csv', index=False)

In [37]:
pd.read_csv('result6.csv')

          pred
0     37849.34
1      9136.91
2     17542.02
3     78985.61
4     48646.16
...        ...
5767  15414.35
5768   7737.66
5769  10326.46
5770  26445.90
5771  13735.95

[5772 rows x 1 columns]